<p id="notice"><%= notice %></p>

<h1>Developers</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Hours Worked</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.name %></td>
        <td><%= developer.email %></td>
        <% if developer.hours_worked > 40 %>
         <td class="red-text"><%= developer.hours_worked %></td>
        <% else %>
         <td><%= developer.hours_worked %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_developer_path(developer) %> | <%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
