<p id="notice"><%= notice %></p>

<h1>Developers</h1>

<table class="table table-bordered table-striped" id="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Hours Worked</th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.name %></td>
        <td><%= developer.email %></td>
        <td><%= developer.hours_worked %></td>
        <td><br><%= button_to 'Edit', edit_developer_path(developer), :method => "get" %></br></td>
        <td><%= button_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#new-modal">
  New Developer
</button>

<%= render partial: 'new_dev' %>
