<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @developer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @developer.email %>
</p>


<%= button_to 'Edit', edit_developer_path(@developer), :method => "get" %>
<%= button_to 'Back', developers_path, :method => "get" %>
