<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @developer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @developer.email %>
</p>


<br><%= button_to 'Edit', edit_developer_path(@developer), :method => "get" %></br>
<br><%= button_to 'Back', developers_path, :method => "get" %></br>
<br><%= button_to "Log out", login_logout_path, :method => "get" %></br>
