<%= form_for(@project) do |f| %>
  <div class="field">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>
<div class="field">
  <%= f.label :max_hours, "Maximum hours:" %>
  <%= f.text_field :max_hours, class: 'form-control' %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
