<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Hours worked</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.total_hours %></td>
        <td><%= project.worked_on %></td>
        <td><br><%= button_to 'Edit', edit_project_path(project), :method => "get" %></br></td>
        <td><%= button_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
