<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Date</th>
      <th>Total Hours</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.worked_on %></td>
        <% if project.total_hours > project.max_hours %>
         <td class="red-text"><%= project.total_hours %></td>
        <% else %>
         <td><%= project.total_hours %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_project_path(project) %> | <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
