<p id="notice"><%= notice %></p>

<%= render 'table' %>

<br><%= button_to 'New Project', new_project_path, :method => "get" %></br>
<br><%= button_to "Time Entry List Page", time_entries_path, :method => "get"  %></br>
<br><%= button_to 'Back', developers_path, :method => "get" %></br>
<br><%= button_to "Log out", login_logout_path, :method => "get" %></br>
