<p id="notice"><%= notice %></p>

<%= render 'table' %>

<br><%= link_to 'New Project', new_project_path %></br>
<br><%= link_to "Time Entry Page", time_entries_path  %></br>
<br><%= link_to 'Back', developers_path %></br>
