<p id="notice"><%= notice %></p>

<%= render 'table' %>

<%= link_to 'New Project', new_project_path %> |
<%= link_to "Time Entry Page", time_entries_path  %> |
<%= link_to 'Back', developers_path %> |
