<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @project.max_hours %>
</p>


<br><%= button_to 'Back', projects_path, :method => "get" %></br>
<br><%= button_to "Log out", login_login_logout_path, :method => "get" %></br>
