<%= form_for(@time_entry) do |f| %>
  <div class="field">
    <%= f.label :duration_worked, "Work duration:" %>
    <%= f.text_field :duration_worked %>
  </div>
  <div class="field">
  <%= f.label :worked_on, "Date of work:" %>
  <%= f.date_select :worked_on, class: 'form-control' %>
  <div class="field">
    <%= f.label :developer_id %><br>
    <%= f.collection_select :developer_id, Developer.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.collection_select :project_id, Project.all, :id, :name %>
  </div>
  <div class="actions">
  <%= f.submit %>
  <% end %>
