<h1>Time Entry</h1>

<table>
  <thead>
    <tr>
      <th>Hours Spent</th>
      <th>Date</th>
      <th>Developer name</th>
      <th>Project name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |time_entry| %>
      <tr>
        <td><%= time_entry.duration_worked %></td>
        <td><%= time_entry.worked_on %></td>
        <td><%= time_entry.developer.name %></td>
        <td><%= time_entry.project.name %></td>
        <td><%= link_to 'Edit', edit_time_entry_path(time_entry) %> | <%= link_to 'Destroy', time_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
