<p id="notice"><%= notice %></p>

<%= render 'table' %>

<br><%= link_to 'New Entry', new_time_entry_path %></br>
<br><%= link_to "Developers Page", developers_path  %></br>
<br><%= link_to 'Back', projects_path %></br>
