<p id="notice"><%= notice %></p>

<%= render 'table' %>

<br><%= button_to 'New Entry', new_time_entry_path, :method => "get" %></br>
<br><%= button_to "Developers Page", developers_path, :method => "get"  %></br>
<br><%= button_to 'Back', projects_path, :method => "get" %></br>
<br><%= button_to "Log out", logout_path, :method => "get" %></br>
