<!DOCTYPE html>
<html>
<head>
  <title>OverviewTimeTrackingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if session[:developer_id] %>
    <br><%= link_to "Log Out", login_logout_path %></br>
  <% end %>

      <%= yield %>

</body>
</html>
